$backgroundColor: rgb(97, 97, 97);

body {
  background-color: $backgroundColor;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

button {
  margin: 2em;
  border-radius: 0.5em;
  background-color: lightgray;
  color: black;
  height: 3em;
  width: 3em;
  font-size: 1.5em;
}

footer {
  margin: 4em;
}

h1 {
  margin: 2em;
  font-size: 4em;
}

span {
  font-size: 3em;
}
